In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('world_cup_matches.csv')

In [3]:
GroupTeams=['Canada','Hungary','Russia','France']

wc1986_df=df[(df['Year']==1986) &
             (df['Stage']=='Group stage') &
             (df['Home Team'].isin(GroupTeams)|df['Away Team'].isin(GroupTeams))
            ].reset_index(drop=True)
wc1986_df['Round']=[1,1,2,2,3,3]

In [4]:
wc1986_df

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team,Round
0,363,1986,1986-06-01,Group stage,Canada,0,1,France,NaN,False,1
1,364,1986,1986-06-02,Group stage,Russia,6,0,Hungary,NaN,False,1
2,374,1986,1986-06-05,Group stage,France,1,1,Russia,NaN,False,2
3,376,1986,1986-06-06,Group stage,Hungary,2,0,Canada,NaN,False,2
4,385,1986,1986-06-09,Group stage,Hungary,0,3,France,NaN,False,3
5,386,1986,1986-06-09,Group stage,Russia,2,0,Canada,NaN,False,3

In [5]:
wc1986_df.to_csv('wc1986_df.csv')

In [6]:
wc_match_df = pd.read_csv('international_matches.csv')

In [ ]:
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

In [7]:
def rank_serial(df,Round):

    for rows in df[df['Round']==Round].index.tolist():

        HT=df.iloc[rows,4]
        AT=df.iloc[rows,7]
        HG=df.iloc[rows,5]
        AG=df.iloc[rows,6]

        if HG>AG:
            #Note: until the 1990 World Cup each win was worth 2 points, after that each win is worth 3 points.
            #https://www.aworldofsoccer.com/world_cups/world_cup_1986_groups.htm
            grouptable['Points'][grouptable['Team']==HT]+=2
            grouptable['Wins'][grouptable['Team']==HT]+=1
            grouptable['Losses'][grouptable['Team']==AT]+=1

        elif HG==AG:
            grouptable['Points'][grouptable['Team']==HT]+=1
            grouptable['Points'][grouptable['Team']==AT]+=1
            grouptable['Draws'][grouptable['Team']==HT]+=1
            grouptable['Draws'][grouptable['Team']==AT]+=1        

        elif AG>HG :
            grouptable['Points'][grouptable['Team']==AT]+=2
            grouptable['Wins'][grouptable['Team']==AT]+=1
            grouptable['Losses'][grouptable['Team']==HT]+=1

        grouptable['GoalScored'][grouptable['Team']==HT]+=HG
        grouptable['GoalConceded'][grouptable['Team']==HT]-=AG

        grouptable['GoalScored'][grouptable['Team']==AT]+=AG
        grouptable['GoalConceded'][grouptable['Team']==AT]-=HG

    grouptable['GoalDifference']=grouptable['GoalScored']+grouptable['GoalConceded']
    grouptable.sort_values(by='Points',ascending=False,inplace=True)
    grouptable[str(Round)]=grouptable[['Points','GoalDifference']].apply(tuple,axis=1).rank(ascending=False).astype(int)
    
    return grouptable

In [8]:
initial=[0,0,0,0]
start_pt=[4,4,4,4]
grouptable=pd.DataFrame(zip(GroupTeams,initial,initial,initial,initial,initial,initial,initial,start_pt), 
                        columns=['Team','Wins','Draws','Losses','GoalScored','GoalConceded','GoalDifference','Points','Start'])

for i in wc1986_df['Round'].unique().tolist():
    result_table=rank_serial(wc1986_df,i)
    
result_table

/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['Points'][grouptable['Team']==AT]+=2
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['Wins'][grouptable['Team']==AT]+=1
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['Losses'][grouptable['Team']==HT]+=1
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['GoalScored'][grouptable['Team']==HT]+=HG
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['GoalConceded'][grouptable['Team']==HT]-=AG
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['Points'][grouptable['Team']==HT]+=1
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['Draws'][grouptable['Team']==HT]+=1
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['GoalScored'][grouptable['Team']==HT]+=HG
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['GoalConceded'][grouptable['Team']==HT]-=AG
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['Wins'][grouptable['Team']==HT]+=1
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['Losses'][grouptable['Team']==AT]+=1
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['Points'][grouptable['Team']==AT]+=2
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['Wins'][grouptable['Team']==AT]+=1
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['Losses'][grouptable['Team']==HT]+=1
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['GoalScored'][grouptable['Team']==HT]+=HG
/var/folders/0d/pt8bwt0j33jcff9j9kfx6psr0000gp/T/ipykernel_77981/2356281413.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouptable['GoalConceded'][grouptable['Team']==HT]-=AG

,Team,Wins,Draws,Losses,GoalScored,GoalConceded,GoalDifference,Points,Start,1,2,3
2,Russia,2,1,0,9,-1,8,5,4,1,1,1
3,France,2,1,0,5,-1,4,5,4,2,2,2
1,Hungary,1,0,2,2,-9,-7,2,4,4,3,3
0,Canada,0,0,3,0,-5,-5,0,4,3,4,4

In [9]:
pd.DataFrame(result_table[['Team','Start','1','2','3']].melt(id_vars=["Team"])).rename({'Team':'Team','variable':'Rounds','value':'Rank'},axis='columns').to_csv('result_table_1986.csv',encoding='utf-8')

### Import international_matches.csv

In [10]:
matches_df = pd.read_csv('international_matches.csv')

In [11]:
matches_df.head()

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Home Stadium
0,1,Friendly,1872-11-30,Scotland,0,0,England,NaN,True
1,2,Friendly,1873-03-08,England,4,2,Scotland,NaN,True
2,3,Friendly,1874-03-07,Scotland,2,1,England,NaN,True
3,4,Friendly,1875-03-06,England,2,2,Scotland,NaN,True
4,5,Friendly,1876-03-04,Scotland,3,0,England,NaN,True

In [12]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17769 entries, 0 to 17768
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              17769 non-null  int64
 1   Tournament      17769 non-null  object
 2   Date            17769 non-null  object
 3   Home Team       17769 non-null  object
 4   Home Goals      17769 non-null  int64
 5   Away Goals      17769 non-null  int64
 6   Away Team       17769 non-null  object
 7   Win Conditions  201 non-null    object
 8   Home Stadium    17769 non-null  bool
dtypes: bool(1), int64(3), object(5)
memory usage: 1.1+ MB

### Check range of 'Home Goals' and 'Aways Goals'

In [13]:
matches_df.describe()

                 ID    Home Goals    Away Goals
count  17769.000000  17769.000000  17769.000000
mean    8885.000000      1.722382      1.169002
std     5129.612802      1.692834      1.335989
min        1.000000      0.000000      0.000000
25%     4443.000000      1.000000      0.000000
50%     8885.000000      1.000000      1.000000
75%    13327.000000      2.000000      2.000000
max    17769.000000     31.000000     17.000000

### change date column to datetime

In [14]:
matches_df['Date']=pd.to_datetime(matches_df['Date'])

In [15]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17769 entries, 0 to 17768
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              17769 non-null  int64
 1   Tournament      17769 non-null  object
 2   Date            17769 non-null  datetime64[ns]
 3   Home Team       17769 non-null  object
 4   Home Goals      17769 non-null  int64
 5   Away Goals      17769 non-null  int64
 6   Away Team       17769 non-null  object
 7   Win Conditions  201 non-null    object
 8   Home Stadium    17769 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(3), object(4)
memory usage: 1.1+ MB

In [16]:
matches_df['Tournament'][(matches_df['Home Team']=='Canada')|(matches_df['Away Team']=='Canada')].unique().tolist()

['Friendly',
 'FIFA World Cup qualification',
 'CONCACAF Championship qualification',
 'CONCACAF Championship',
 'Korea Cup',
 'Merlion Cup',
 'Matthews Cup',
 'NAFU Championship',
 'Gold Cup',
 'Gold Cup qualification',
 'Confederations Cup',
 'CONCACAF Nations League qualification',
 'CONCACAF Nations League']

In [17]:
matches_df[(matches_df['Tournament']=='FIFA World Cup qualification') &
           ((matches_df['Home Team']=='Canada')|(matches_df['Away Team']=='Canada'))
          ]

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Home Stadium
2387,2388,FIFA World Cup qualification,1957-06-22,Canada,5,1,United States,NaN,True
2390,2391,FIFA World Cup qualification,1957-06-30,Mexico,3,0,Canada,NaN,True
2392,2393,FIFA World Cup qualification,1957-07-03,Mexico,2,0,Canada,NaN,True
2394,2395,FIFA World Cup qualification,1957-07-06,United States,2,3,Canada,NaN,True
3663,3664,FIFA World Cup qualification,1968-10-06,Canada,4,0,Bermuda,NaN,True
...,...,...,...,...,...,...,...,...,...
17570,17571,FIFA World Cup qualification,2022-01-30,Canada,2,0,United States,NaN,True
17583,17584,FIFA World Cup qualification,2022-02-02,El Salvador,0,2,Canada,NaN,True
17589,17590,FIFA World Cup qualification,2022-03-24,Costa Rica,1,0,Canada,NaN,True
17615,17616,FIFA World Cup qualification,2022-03-27,Canada,4,0,Jamaica,NaN,True
17644,17645,FIFA World Cup qualification,2022-03-30,Panama,1,0,Canada,NaN,True

In [18]:
for ID in matches_df.index:
    if matches_df.loc[ID,'Home Team']=='Canada':
        matches_df.loc[ID,'CanadaGoalScored']=matches_df.loc[ID,'Home Goals']
    elif matches_df.loc[ID,'Away Team']=='Canada':
        matches_df.loc[ID,'CanadaGoalScored']=matches_df.loc[ID,'Away Goals']
    else :
        matches_df.loc[ID,'CanadaGoalScored']=0

In [19]:
matches_df['CanadaGoalScored'].astype(int)

0        0
1        0
2        0
3        0
4        0
        ..
17764    0
17765    0
17766    0
17767    0
17768    0
Name: CanadaGoalScored, Length: 17769, dtype: int64

In [20]:
matches_df['CanadaGoalScored'].sum()

517.0

In [21]:
matches_df.to_csv('matches_df.csv')